# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c23a21bec01aa9dd879e6d475e60cdd9032de86408ab17ae933a9ca1b9f8fec794f0e0ad0721d66d01e558cb44a8271d5698e640546f69a59943cdfc5e790871

test:
  secret_key_base: f9a124a19ad3ee192d9a108369263fe21d07ba358aaa9ed973ca2d718000ef61f9fd13bad7158edc774ac090e7df7fd8d0a59b915fef57a5d52a8d3231a56eaf

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
