<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<h1>REVA Funding Visualizations</h1>

<br>

<h5> Distribution of Maturities </h5>
  <div>
    <%= column_chart Vizu.group_by_quarter(:MATURITY_DATE).count, stacked: true%>
  </div>


<h5>Count of Note Types</h5>
  <div>
    <%= pie_chart Note.group(:note_type).count %>
  </div>


<h5> New Investors over Time </h5>
  <div>
    <%= line_chart Investor.group_by_week(:created_at).count %>
  </div>