<h1>REVA Funding Visualizations</h1>

<br>
<h5> Count Note Types </h5>
<%= pie_chart Note.group(:note_type).count %>

<h5> New Investors over Time </h5>
<%= line_chart Investor.group_by_week(:created_at).count %>